.TableHeader{
    border: 2px solid black;
    align-items: top;
}

.TableCenter{
    border: 2px solid black;
    align-items: center;
}

.TableRight{
    border: 2px solid Black;
    align-items: right; 
}

.TableLeft{
    border: 2px solid Black;
    align-items: left; 
}

.TableFooter{
    border: 2px solid black;
    align-items: bottom;
}